<div class="container">
  <div class="row">
    <div class="col-md-6">
    <div class="panel panel-default ">
      <div class="panel-heading">
        <h2 class="panel-title">Candidats</h2>
      </div>
      <div ng-show="loading">
          <label ><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</label>
      </div>
      <div class="panel-body" ng-repeat="candidat in candidats" ng-hide="loading">
        <div class="form-group" >
          <input type="checkbox"  ng-model="candidat.isSelected" > {{candidat.name}} {{candidat.firstname}}
          <hr>
        </div>
      </div>
    </div>
    </div>
    <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Jobs</h2>
      </div>
      <div ng-show="loading">
        <label ><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</label>
      </div>
      <div class="panel-body" ng-repeat="position in positions" ng-hide="loading">
        <div class="form-group" >
          <input type="checkbox" ng-model="position.isSelected"> {{position.position}} {{position.employer}}
          <hr>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="panel-body" ng-repeat="candidat in candidats" ng-hide="loading">
    <div ng-show="candidat.isSelected">
  {{candidat}}
    </div>
    </div>
  <div class="panel-body" ng-repeat="position in positions" ng-hide="loading">
    <div ng-show="position.isSelected">
      {{position}}
    </div>
  </div>

  <button>Enter</button>
</div>


